[submodule "src/third_party/imgui"]
	path = src/third_party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "src/third_party/AmeisenNavigation"]
	path = src/third_party/AmeisenNavigation
	url = https://github.com/Jnnshschl/AmeisenNavigation
[submodule "src/third_party/subhook"]
	path = src/third_party/subhook
	url = https://github.com/wyrover/subhook
[submodule "src/third_party/simple-matrix"]
	path = src/third_party/simple-matrix
	url = https://github.com/torin-carey/simple-matrix
[submodule "src/third_party/sqlite_modern_cpp"]
	path = src/third_party/sqlite_modern_cpp
	url = https://github.com/SqliteModernCpp/sqlite_modern_cpp
